/* MainPage.css */

.main-page {
    position: relative;
    height: 100vh; 
    width: 100vw;
    background-image: url("src/assets/background.png");
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: center;
    align-items: center;    /* Center items horizontally */
}


.title-container {
    background-image: url("src/assets/title_background.png");
    background-size: cover;
    color: white; /* Set text color to white or any color that contrasts well with the background */
    width: 1600px;
    height: 600px;
}

/* Custom font and increased font size for the title */
.title-container h1 {
    font-family: 'Papyrus';
    font-size: 260px; /* Adjust the font size as needed */
    justify-content: center;
    text-align: center;
}

.title-background {
    background-image: url("src\assets\title_background.png"); /* Adjust the path based on your folder structure */
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}